name: CI-sources

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  common:
    uses: City-of-Helsinki/.github/.github/workflows/ci-django-api.yml@RAT-362/django-fix-coverage-cache
    secrets: inherit
    with:
      python-version: 3.12
      # PostgreSQL is NOT USED in sources app at all, but ci-django-api.yml requires this to be set:
      postgres-major-version: 13
      working-directory: ./sources
      extra-commands: |
        # Start local Elasticsearch for testing. It will be destroyed after the tests are done.
        # You can only log in to the Elasticsearch container from a runnable environment.
        # The container is only for tests in this repository and only exists for the duration of the tests. 
        docker run -d \
          --name elasticsearch \
          -p 9200:9200 \
          -e "discovery.type=single-node" \
          -e "action.destructive_requires_name=false" \
          -e "xpack.security.enabled=false" \
          docker.elastic.co/elasticsearch/elasticsearch:9.1.3
        
        echo 'ES_URI=http://localhost:9200' >> .env
        sudo apt-get install gdal-bin libsqlite3-mod-spatialite
        
        docker logs elasticsearch
